.site-card-border-less-wrapper {
    padding: 30px;
    background: #FAFAFB;
    display: flex;
    justify-content: center;
  }

  //coin
  .coin-trading-contain {
    height: '120px';
    color: '#fff';
    lineHeight: '160px';
    textAlign: 'center';
    background: '#364d79';
  };